.products-background {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/affordability-facebook-og?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1600376390000");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.products-title {
    display: inline;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -.003em;
    line-height: 1.0834933333;
    color: #ffff;
}

.product-image {
    width: 15rem;
    height: 15rem;
    margin: 10px;
    object-fit: cover;
}

.product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 30rem;
    margin: 25px 0px;
}

.category-filter {
    margin-top: 15px;
    display: flex;
    gap: 1rem;
    width: 400px;
}

.available-input {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 14px;
}